<!-- <button type="button" class="btn btn-primary">Add Asset</button>&nbsp;
<button type="button" class="btn btn-primary">Export</button> -->
<form>
    <select class="form-select">
        <option value="#">All Manufacturers</option>
    </select>
    <select class="form-select">
        <option value="#">All Models</option>
    </select>&nbsp;
    <label for="assetname"></label>
    <input type="text" id="assetname" placeholder="Enter Asset Name" name="#" class="form-control">
</form>
    <div class="row">
        <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>Model</th>
                <th>Manufacturer</th>
                <th>Description</th>
                <th>Price</th>
                <th>Color</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Keyboard</td>
                <td>234dfc</td>
                <td>Logitech</td>
                <td>wireless keyboard asdasdsaasdasdasdas</td>
                <td>3242</td>
                <td>White</td>
                <td><a href="#"><i class="fa fa-edit" aria-hidden="true"><div>Edit</div></i></a></td>
                <td><a href="#"><i class="fa fa-trash" aria-hidden="true"><div>Delete</div></i></a></td>
            </tr>
        </tbody>
        </table>
    </div>
    
    
