.help-block {
  color: red;
}
.col-6{
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
@media all and (max-width:480px) {
  .col-6{ width: 100%; margin-left: auto; display:block; }
} 
@media all and (max-width:480px) {
#right{ width: 100%; margin-left: auto; display:block; margin-top: 50px; height: max-content; }
} 
